Source: actionswf
Section: utils
Priority: optional
Maintainer: Botescu Costin <costin.botescu@gmail.com>
Build-Depends: debhelper-compat (= 11), ocompiler, jpexs-decompiler, pkg-config, zlib1g-dev, bc, python3, haxe
#, ostriputil [amd64]
Standards-Version: 4.5.0
Homepage: https://github.com/colin-i/actionswf

Package: actionswf
Architecture: amd64 i386
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, python3
Description: Action Swf library

Package: libactionswf-dev
Architecture: all
Multi-Arch: foreign
Description: Action Swf dev files
