#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@
# --with autoreconf

override_dh_auto_install:
	echo oad/oadbgdata.h usr/include/libactionswf/ > debian/libactionswf-dev.install
	echo oad/oadbgdatas.h usr/include/libactionswf/ >> debian/libactionswf-dev.install
	echo oad/oadbgdata.h.oh usr/include/libactionswf/ >> debian/libactionswf-dev.install
	echo oad/oadbgdatas.h.oh usr/include/libactionswf/ >> debian/libactionswf-dev.install
	#
	#these must transition to otoc
	echo include/actionswf.h usr/include/libactionswf/ >> debian/libactionswf-dev.install
	#
	echo dev/import.h.oh usr/include/libactionswf/ >> debian/libactionswf-dev.install
	echo dev/importf.h.oh usr/include/libactionswf/ >> debian/libactionswf-dev.install
	echo dev/flags.h.oh usr/include/libactionswf/ >> debian/libactionswf-dev.install

	#same as ocompiler, when adding another one, make install are useless
	echo oaalternative usr/bin/ > debian/actionswf.install
	echo src/libactionswf.so usr/lib/ >> debian/actionswf.install
	echo oad/liboadbgdata.so usr/lib/ >> debian/actionswf.install

	dh_auto_install -- prefix=/usr
