#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@
# --with autoreconf

override_dh_auto_install:
	#modify also where include_dev flag is
	echo oad/oadbgdatas.oh usr/include/actionswf/ > debian/libactionswf-dev.install
	echo oad/oadbgdata.oh usr/include/actionswf/ >> debian/libactionswf-dev.install
	echo oad/oadbgdatas.h usr/include/actionswf/ >> debian/libactionswf-dev.install
	echo oad/oadbgdata.h usr/include/actionswf/ >> debian/libactionswf-dev.install
	#
	#yes otoc
	echo dev/flags.oh usr/include/actionswf/ >> debian/libactionswf-dev.install
	echo dev/flagss.oh usr/include/actionswf/ >> debian/libactionswf-dev.install
	#no otoc
	echo dev/importf.oh usr/include/actionswf/ >> debian/libactionswf-dev.install
	echo dev/import.oh usr/include/actionswf/ >> debian/libactionswf-dev.install
	#from otoc
	echo dev/flags.h usr/include/actionswf/ >> debian/libactionswf-dev.install
	echo dev/flagss.h usr/include/actionswf/ >> debian/libactionswf-dev.install
	#not from otoc
	echo dev/actionswf.oh usr/include/actionswf/ >> debian/libactionswf-dev.install
	echo dev/actionswf.h usr/include/actionswf/ >> debian/libactionswf-dev.install

	#same as ocompiler, when adding another one, make install are useless
	echo oaalternative.sh usr/bin/ > debian/actionswf.install
	echo oaalternativedeobf usr/bin/ >> debian/actionswf.install
	echo oaas3 usr/bin/ >> debian/actionswf.install
	echo src/libactionswf.so usr/lib/ >> debian/actionswf.install
	echo oad/liboadbgdata.so usr/lib/ >> debian/actionswf.install

	dh_auto_install -- prefix=/usr

ifeq ($(shell dpkg-architecture -qDEB_HOST_ARCH), amd64)
override_dh_gencontrol:
	dh_gencontrol
	echo -n "Depends: actionswf (= " >> debian/libactionswf-dev/DEBIAN/control
	echo -n `cat debian/changelog | head -1 | grep -Poe "[^(]*(?=\))"` >> debian/libactionswf-dev/DEBIAN/control
	echo ")" >> debian/libactionswf-dev/DEBIAN/control
endif
